<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Lib.Properties.Settings>
            <setting name="KeyLicense" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="DBSenha" serializeAs="String">
                <value />
            </setting>
            <setting name="DBScript" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPorta" serializeAs="String">
                <value />
            </setting>
            <setting name="DBIps" serializeAs="String">
                <value />
            </setting>
            <setting name="DBHost" serializeAs="String">
                <value />
            </setting>
            <setting name="Espelhamento" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Trial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptPadrao" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyLicenseTrial" serializeAs="String">
                <value />
            </setting>
        </Lib.Properties.Settings>
    </userSettings>
</configuration>